/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

/*ESTRUTURA DO DOCUMENTO*/
body{
    margin: 0;
    background-color: teal;
}

header{
    background-color:teal;

}
main{
    width: 100%;
    display: table;
    background-color: #F5F5F5;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* DIV DA IMAGEM TOPO*/
.img-header{
   width: 400px; 
   height: 200px;
   display: block;
   margin: 20px auto 20px auto;
   border-radius: 4px;
   box-shadow: 10px 10px 8px #000000;
}

/*CONTEUDO PRINCIPAL*/
.container{
    width: 100%;
    display: table;
}

.div-estrutura01{
    width: 25%;
    display: table;
    margin: 10px auto 10px 10px;
    float: left;
}

.div-estrutura01 .img-foto{  
    width: 100%;
    max-width: 100%;
    height:auto;
    display: block;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 10px 10px 8px #888888;
}

.div-estrutura01 h1{
    font-family: 'Lobster Two', cursive;
    font-size: 15px;
    text-align: center;
    margin-top: 10px auto 10px auto;
}

/*DIV DO INSTAGRAM*/
.estrutura-div-instagram{
    width: 40%;
    display: table;
    margin: auto;
}

.img-instagram{
    width: 100%;
    max-width: 100%;
    height:50px;
    display: block;
}

/*BOTAO*/
.div-estrutura-btn{
    text-align: center;
}

.btn{
    background-color: rgb(183, 139, 224);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2px;
}

.div-estrutura02{
    width: 60%;
    display: table;
    margin-left: 30px;
    float: left;
}

.div-estrutura02 h1{
    font-family: 'Lobster Two', cursive;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px auto 10px auto;
}

.div-estrutura02 p{
    font-family: 'Lobster Two', cursive;
    font-size: 15px;
    text-align: justify;
    line-height: 40px;
}